
.icon-mail:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-users:before { content: '\e803'; } /* '' */
.icon-picture:before { content: '\e804'; } /* '' */
.icon-camera:before { content: '\e805'; } /* '' */
.icon-camera-alt:before { content: '\e806'; } /* '' */
.icon-th:before { content: '\e807'; } /* '' */
.icon-th-list:before { content: '\e808'; } /* '' */
.icon-eye:before { content: '\e809'; } /* '' */
.icon-bookmark:before { content: '\e80a'; } /* '' */
.icon-bell:before { content: '\e80b'; } /* '' */
.icon-attention:before { content: '\e80c'; } /* '' */
.icon-attention-circled:before { content: '\e80d'; } /* '' */
.icon-location:before { content: '\e80e'; } /* '' */
.icon-basket:before { content: '\e80f'; } /* '' */
.icon-login:before { content: '\e810'; } /* '' */
.icon-logout:before { content: '\e811'; } /* '' */
.icon-briefcase:before { content: '\e812'; } /* '' */
.icon-barcode:before { content: '\e813'; } /* '' */
.icon-gift:before { content: '\e814'; } /* '' */
.icon-truck:before { content: '\e815'; } /* '' */
.icon-credit-card:before { content: '\e816'; } /* '' */
.icon-cog-alt:before { content: '\e817'; } /* '' */
.icon-road:before { content: '\e818'; } /* '' */
.icon-qrcode:before { content: '\e819'; } /* '' */
.icon-chart-bar:before { content: '\e81a'; } /* '' */
.icon-credit-card-1:before { content: '\e81b'; } /* '' */
.icon-key:before { content: '\e81c'; } /* '' */
.icon-megaphone:before { content: '\e81d'; } /* '' */
.icon-off:before { content: '\e81e'; } /* '' */
.icon-align-justify:before { content: '\e81f'; } /* '' */
.icon-signal:before { content: '\e820'; } /* '' */
.icon-resize-small:before { content: '\e821'; } /* '' */
.icon-resize-full:before { content: '\e822'; } /* '' */
.icon-edit:before { content: '\e823'; } /* '' */
.icon-print:before { content: '\e824'; } /* '' */
.icon-download:before { content: '\e825'; } /* '' */
.icon-upload:before { content: '\e826'; } /* '' */
.icon-home:before { content: '\e827'; } /* '' */
.icon-star-empty:before { content: '\e828'; } /* '' */
.icon-star:before { content: '\e829'; } /* '' */
.icon-star-half:before { content: '\e82a'; } /* '' */
.icon-glass:before { content: '\e82b'; } /* '' */
.icon-view-mode:before { content: '\e82c'; } /* '' */
.icon-print-1:before { content: '\e82d'; } /* '' */
.icon-lightbulb:before { content: '\e82e'; } /* '' */
.icon-lightbulb-alt:before { content: '\e82f'; } /* '' */
.icon-glasses:before { content: '\e830'; } /* '' */
.icon-fuel:before { content: '\e831'; } /* '' */
.icon-videocam-alt:before { content: '\e832'; } /* '' */
.icon-chart-pie:before { content: '\e833'; } /* '' */
.icon-tools:before { content: '\e834'; } /* '' */
.icon-box-1:before { content: '\e835'; } /* '' */
.icon-archive:before { content: '\e836'; } /* '' */
.icon-floppy:before { content: '\e837'; } /* '' */
.icon-mobile:before { content: '\e838'; } /* '' */
.icon-tablet:before { content: '\e839'; } /* '' */
.icon-move:before { content: '\f047'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-hdd:before { content: '\f0a0'; } /* '' */
.icon-tasks:before { content: '\f0ae'; } /* '' */
.icon-resize-full-alt:before { content: '\f0b2'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-magic:before { content: '\f0d0'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-gauge:before { content: '\f0e4'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-flag-empty:before { content: '\f11d'; } /* '' */
.icon-terminal:before { content: '\f120'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-direction:before { content: '\f124'; } /* '' */
.icon-attention-alt:before { content: '\f12a'; } /* '' */
.icon-shield:before { content: '\f132'; } /* '' */
.icon-ticket:before { content: '\f145'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-rupee:before { content: '\f156'; } /* '' */
.icon-box:before { content: '\f187'; } /* '' */
.icon-bug:before { content: '\f188'; } /* '' */
.icon-space-shuttle:before { content: '\f197'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */
.icon-language:before { content: '\f1ab'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
.icon-taxi:before { content: '\f1ba'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-file-word:before { content: '\f1c2'; } /* '' */
.icon-file-excel:before { content: '\f1c3'; } /* '' */
.icon-file-powerpoint:before { content: '\f1c4'; } /* '' */
.icon-file-image:before { content: '\f1c5'; } /* '' */
.icon-file-code:before { content: '\f1c9'; } /* '' */
.icon-lifebuoy:before { content: '\f1cd'; } /* '' */
.icon-rebel:before { content: '\f1d0'; } /* '' */
.icon-empire:before { content: '\f1d1'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-wifi:before { content: '\f1eb'; } /* '' */
.icon-eyedropper:before { content: '\f1fb'; } /* '' */
.icon-chart-area:before { content: '\f1fe'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-bicycle:before { content: '\f206'; } /* '' */
.icon-bus:before { content: '\f207'; } /* '' */
.icon-cart-plus:before { content: '\f217'; } /* '' */
.icon-cart-arrow-down:before { content: '\f218'; } /* '' */
.icon-ship:before { content: '\f21a'; } /* '' */
.icon-user-secret:before { content: '\f21b'; } /* '' */
.icon-motorcycle:before { content: '\f21c'; } /* '' */
.icon-street-view:before { content: '\f21d'; } /* '' */
.icon-train:before { content: '\f238'; } /* '' */
.icon-subway:before { content: '\f239'; } /* '' */
.icon-battery-4:before { content: '\f240'; } /* '' */
.icon-battery-3:before { content: '\f241'; } /* '' */
.icon-battery-2:before { content: '\f242'; } /* '' */
.icon-battery-1:before { content: '\f243'; } /* '' */
.icon-battery-0:before { content: '\f244'; } /* '' */
.icon-clone:before { content: '\f24d'; } /* '' */
.icon-hourglass-o:before { content: '\f250'; } /* '' */
.icon-hourglass-1:before { content: '\f251'; } /* '' */
.icon-hourglass-2:before { content: '\f252'; } /* '' */
.icon-hourglass:before { content: '\f254'; } /* '' */
.icon-map-signs:before { content: '\f277'; } /* '' */
.icon-map-o:before { content: '\f278'; } /* '' */
.icon-map:before { content: '\f279'; } /* '' */
.icon-commenting:before { content: '\f27a'; } /* '' */
.icon-commenting-o:before { content: '\f27b'; } /* '' */
.icon-black-tie:before { content: '\f27e'; } /* '' */
.icon-reddit-alien:before { content: '\f281'; } /* '' */
.icon-credit-card-alt:before { content: '\f283'; } /* '' */
.icon-shopping-basket:before { content: '\f291'; } /* '' */
.icon-american-sign-language-interpreting:before { content: '\f2a3'; } /* '' */
.icon-snapchat-ghost:before { content: '\f2ac'; } /* '' */
.icon-first-order:before { content: '\f2b0'; } /* '' */
.icon-handshake-o:before { content: '\f2b5'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-free-code-camp:before { content: '\f2c5'; } /* '' */
.icon-thermometer:before { content: '\f2c7'; } /* '' */
.icon-thermometer-3:before { content: '\f2c8'; } /* '' */
.icon-thermometer-2:before { content: '\f2c9'; } /* '' */
.icon-thermometer-quarter:before { content: '\f2ca'; } /* '' */
.icon-thermometer-0:before { content: '\f2cb'; } /* '' */
.icon-podcast:before { content: '\f2ce'; } /* '' */
.icon-eercast:before { content: '\f2da'; } /* '' */
.icon-snowflake-o:before { content: '\f2dc'; } /* '' */